body{
    margin: 0;
    padding: 0;
    background-image: url(desktop-wallpaper-night-aesthetic-laptop-city-aesthetic.jpg);
    height: 100px;
    background-position: center;
    width: 100%;
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.contactme{
    justify-content: end;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: white;
}

.contactme li{
    margin: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 34px;
}

.medsos{
    color: white;
    margin-top: 7%;
    margin-left: 15%;
    width: 21%;
    border-radius: 20px;
    
}

.insta{
    border-radius: 60px;
}

img{
    margin-left: 30%;
}

.medsos{
    float: left;
}